
{% extends 'base.html' %}
{% block content %}
{% for post in posts %}
{{post.id}}

<a href = '/pic/{{post.id}}/'><img src="{{post.article_image.url}}" alt="aaa"></a>
{% endfor %}


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
        <p>aoishedbchxjazk\lksJhdcbjn </p>
                <h2 class="text-center">NO UPLOADS FOR TODAY<img src="https://i.pinimg.com/originals/11/3f/60/113f60be580a09ef0027073423d98f0f.gif">NO UPLOADS FOR TODAY</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>

</div>
{% endblock %}